button.active-badge:hover {
  background-color: #e8f7f3;
  border-color: #28a745;
}

button.inactive-badge:hover {
  background-color: #fef0e3;
  border-color: #ff9446;
}

button.pay-now:hover {
  background-color: #ffd1e4;
  color: #ffffff;
}
